@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	background: #eee;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Crete Round', serif;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.toc {
	padding: 45px 20px;
	margin-bottom: 60px;
	background: #2F3030;
	border-radius: 0 0 5px 5px;
}

.toc ul li {
	color: #ddd;
	border-bottom: 1px solid #555;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 5px 0;
	font-family: 'Crete Round', serif;
}

.toc ul li:hover {
	color: #fff;
}

.toc ul li ul {
	margin-bottom: 25px;
}

.toc ul li ul li {
	border-bottom: none;
	margin-bottom: 0;
	padding: 0;
	font-size: 14px;
}

.toc ul li ul li code {
	background: #2f3030;
	color: #ccc;
}

.toc ul li ul li a {
	font-family: 'Varela Round', sans-serif;
	color: #ccc;
	font-size: 14px;
}

.toc ul li ul li a:hover {
	color: #fff;
	padding: 8px 0 6px 3px;
	text-decoration: none;
	font-size: 14px;
}

.toc ul li ul li:before {
	content: "↳ ";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #555;
	padding-right: 0.1em;
	top: 10px;
	left: 0;
}

.documentation {
	background: #fff;
	box-sizing: border-box;
	padding: 20px;
	margin-right: -15px;
	margin-left: -15px;
	border-radius: 0 0 5px 5px;
}

.documentation h2 {
	border-top: 1px solid #ddd;
	padding-top: .75em;
	margin-top: .25em;
	margin-bottom: .4em;
}

.header-anchor {
	font-size: 60%;
	font-weight: normal;
	line-height: 1;
	color: #777;
}

.header-anchor:before {
	font-family: 'Glyphicons Halflings';
	content: " \e144";
}

.header-anchor:hover {
	text-decoration: none;
}

code {
	font-family: 'Ubuntu Mono', monospace;
}

pre {
	background-color: #2F3030;
	color: #f8f8f2;
	display: block;
	font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
	border: 0;
	line-height: 1.5em;
	border-radius: 5px;
	background-clip: padding-box;
	padding: 20px !important;
	white-space: pre;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}
